{% extends 'common_code/base.html' %}
{%load static%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{%endblock css%}
{%block title%}Review Page{%endblock%}
{%block content%}
<h1>Welcome to review page</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laboriosam veritatis nesciunt qui labore cumque possimus,
saepe laudantium repellendus nobis fuga reiciendis ipsum aspernatur maxime reprehenderit officia! Nam itaque aspernatur
sequi nisi, ipsa amet, dicta quis blanditiis assumenda magni deserunt molestiae nostrum ipsam numquam praesentium
impedit magnam quasi est autem totam? Illum enim eum hic repudiandae consectetur. Soluta fuga illo placeat, distinctio
unde facilis eius temporibus! Odit, repudiandae, dolore saepe totam provident, tempore dicta perferendis itaque
doloribus iusto minima quod quis sequi facere voluptatem ab. Perspiciatis, placeat. Fuga, repudiandae perferendis.
{%endblock content%}