{% extends 'common_code/base.html' %}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{%endblock css%}

<title>{%block title%}Payment Page {%endblock title%}</title>

{%block content%}

<h1>Welcome to payment page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique odio beatae tempore minima nam laboriosam expedita
    illo sunt, corrupti vero reiciendis eaque ducimus maxime quo et nisi repellat deleniti, autem excepturi nemo. Enim
    at provident, veritatis praesentium totam quam explicabo excepturi vel similique, ratione doloremque aperiam eius
    distinctio obcaecati repellat dolor rem deserunt et. Iste vitae nam necessitatibus quod exercitationem.</p>

{%endblock content%}